
<nb-card class="form-cart" >
  <nb-card-body class="example-items-col items">
    <div class="form-header">
      <h1 id="title" class="title">Sign Up</h1>
      <p class="sub-title">Please fill in this form to create an account</p>
    </div>

    <label class="label" for="firstname">FirstName:</label>
    <input nbInput
           class="elements"
           status="basic"
           fullWidth
           name="firstname"
           id="firstname"
           placeholder="Firstname"
           shape="semi-round"
    >
    <label class="label" for="lastname">LastName:</label>
    <input nbInput
           class="elements"
           status="basic"
           fullWidth
           name="lastname"
           id="lastname"
           placeholder="Lastname"
           shape="semi-round"
    >
    <label class="label" for="username">UserName:</label>
    <input nbInput
           class="elements"
           status="basic"
           fullWidth
           name="username"
           id="username"
           placeholder="Username"
           shape="semi-round"
    >
    <label class="label" for="phone">Phone Number:</label>
    <input nbInput
           class="elements"
           status="basic"
           fullWidth
           name="phone"
           id="phone"
           placeholder="phone number"
           shape="semi-round"
    >
    <label class="label" for="email">Email address:</label>
    <input nbInput
           class="elements"
           status="basic"
           fullWidth
           name="email"
           id="email"
           placeholder="Email address"
           shape="semi-round"
    >

    <span class="label-with-link">
        <label class="label" for="password">Password:</label>
      </span>
    <input nbInput
           fullWidth
           class="elements"
           name="password"
           type="password"
           id="password"
           placeholder="password"
           shape="semi-round"
    >
    <label class="label" for="confirm-password">Confirm Password:</label>
    <input nbInput
           fullWidth
           class="elements"
           name="conf-password"
           id="confirm-password"
           type="password"
           placeholder="confirm password"
           shape="semi-round"
    >

    <button nbButton hero shape="semi-round" status="success" >Register</button>
    <section class="another-action elements" aria-label="Register">
      By clicking the register button, you agree to our <br><a href="#">Terms & Conditions</a>, and <a href="#">Privacy Policy</a>
    </section>
  </nb-card-body>
</nb-card>
