<div class="navbuttons">
        
    <a routerLink="/">RideShare</a>
    <a routerLink="driver/rides" >Manage Rides</a>

    <button nbButton hero shape="round" status="success" size="medium" (click)="logout()" >Log Out<nb-icon icon="log-out-outline"></nb-icon></button>
    
    <button nbButton hero shape="round" status="success" size="medium" routerLink="/login">Login<nb-icon icon="log-in-outline"></nb-icon></button>
    
    <button nbButton hero shape="round" status="info" routerLink="/signup">SignUp<nb-icon icon="person-add-outline"></nb-icon></button>
</div>
