<nb-layout-column>
    <nb-card>
        <nb-card-body class="example-items-col">
            From: <nb-icon nbPrefix icon="radio-button-off-outline"></nb-icon><input type="text" nbInput shape="round" class="elem"  placeholder="Enter a city">
            To: <nb-icon nbPrefix icon="radio-button-off-outline"></nb-icon><input type="text" nbInput shape="round" class="elem"  placeholder="Enter your destination">
            Date: <nb-icon nbPrefix icon="radio-button-off-outline"></nb-icon><input nbInput shape="round" placeholder="Pick a date" class="elem"  [nbDatepicker]="dateTimePicker">
            <nb-datepicker #dateTimePicker></nb-datepicker>
          <button nbButton  shape="round" outline status="info" class="elem" routerLink="/rides">search<nb-icon icon="search-outline">
          </nb-icon></button>
        </nb-card-body>
    </nb-card>
</nb-layout-column>
