<nb-layout-column>
    <nb-card>
        <nb-card-body class="example-items-col">
            From: <app-city-search> </app-city-search>
            To: <app-city-search> </app-city-search>
            Date: <input nbInput shape="round" placeholder="Pick a date" class="elem"  [nbDatepicker]="dateTimePicker">
            <nb-datepicker #dateTimePicker></nb-datepicker>
          <button nbButton  shape="round" outline status="info" class="elem" routerLink="/rides">search<nb-icon icon="search-outline">
          </nb-icon></button>
        </nb-card-body>
    </nb-card>
</nb-layout-column>
