p{
  color: rgb(112, 140, 145);
  font-size: 16px;
  line-height: 20px;
}
span{
  white-space: pre-line;
  color: rgb(5, 71, 82);
  font-size: 30px;
  line-height: 1.06;
  font-weight: 500;
  margin-bottom: 8px;
}
.classname{
  float: left;
  margin-left: 10%;
}
.classname1{
  float: left;
  margin: auto;
  margin-top: 5%;

}

