<nb-layout-column>
  <nb-card>
    <nb-card-body class="example-items-col idd">
      <nb-layout-column class="classname">
        <img class="img-responsive" src="assets/images/rides.png">
      </nb-layout-column>
      <nb-layout-column class="classname1">
        <span>Are you driving? Tell us where you are going!</span>
        <p>Together, let's move around</p>
        <button nbButton hero shape="round" status="info" routerLink="/signup">Share a ride<nb-icon icon="plus-outline">
        </nb-icon></button>
      </nb-layout-column>
    </nb-card-body>
  </nb-card>
</nb-layout-column>
